@font-face{
    font-family: 'Ralewey';
    src: url('Ralewey-Light.ttf');
    font-weight: 300;
}
@font-face{
    font-family:'Ralewey';
    src: url('Ralewey-Regular.woff2');
    font-weight: 400;
}
@font-face{
    font-family:'OpenSant';
    src: url('OpenSant-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family:'OpenSant';
    src: url('OpenSant-Semibold.ttf');
    font-weight: 600;
}
@font-face{
    font-family:'OpenSant';
    src: url('OpenSant-Bold.ttf');
    font-weight: 700;
}